<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Projects</title>
    <link rel="stylesheet" href="../../styleMain.css" />
    <link rel="stylesheet" href="../projects/projects.css" />
  </head>
  <body>
    <header class="myHeader">
      <nav>
        <div class="logo">A</div>
        <ul>
          <li><a href="../home/home.html">Home</a></li>
          <li><a href="projects.html" class="active">Projects</a></li>
          <li><a href="../about/about.html" >About</a></li>
          <li><a href="../contact/contact.html">Contact</a></li>
      </nav>
    </header>

    <section id="projects"></section>

    <script type="module" src="../../main.js"></script>
  </body>
</html>
