<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="../../styleMain.css" />
    <link rel="stylesheet" href="../home/home.css" />
  </head>
  <body>
    <header class="myHeader">
      <nav>
        <div class="logo">A</div>
        <ul>
          <li><a href="../home/home.html" class="active">Home</a></li>
          <li><a href="../projects/projects.html">Projects</a></li>
          <li><a href="../about/about.html">About</a></li>
          <li><a href="../contact/contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <div class="intro">
        <h1>
          Hello. I'm <span class="highlight">Ahmad Ibrahiem</span>
          <span>👋</span>
        </h1>
        <p>A Software Engineer based in Amman</p>
        <a
          href="../home/Ahmad-Ibrahiem-FlowCV-Resume10.pdf"
          download="Ahmad-Ibrahiem-CV"
          class="btn"
          >View My CV</a
        >
      </div>
    </section>

    <script type="module" src="../../main.js"></script>
  </body>
</html>
