<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Ahmad Ibrahiem</title>
    <link rel="stylesheet" href="../../styleMain.css" />
    <link rel="stylesheet" href="../about/about.css" />
  </head>
  <body>
    <header class="myHeader">
      <nav>
        <div class="logo">A</div>
        <ul>
          <li><a href="../home/home.html">Home</a></li>
          <li><a href="../projects/projects.html">Projects</a></li>
          <li><a href="about.html" class="active">About</a></li>
          <li><a href="../contact/contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="about">
      <h1>About Me</h1>
      <h2>Ahmad Ibrahiem</h2>
      <p><strong>Software Engineer</strong></p>
      <p>
        Email:
        <a href="mailto:ahmadmibrahiem@gmail.com">ahmadmibrahiem@gmail.com</a>
      </p>
      <p>Phone: <a href="tel:+962788660286">+962788660286</a></p>
      <p>Location: Amman, Jordan - Riyadh, Saudi Arabia</p>
      <p>
        LinkedIn:
        <a href="https://linkedin.com/in/ahmad-ibrahiem" target="_blank"
          >linkedin.com/in/ahmad-ibrahiem</a
        >
      </p>
      <p>
        GitHub:
        <a href="https://github.com/BINMAH1" target="_blank"
          >github.com/BINMAH1</a
        >
      </p>

      <h3>Education</h3>
      <div class="education-section">
        <div class="education-item">
          <div class="education-title">
            <h4>Software Engineering BSc</h4>
            <p><em>Princess Sumaya University for Technology</em></p>
          </div>
          <div class="education-info">
            <p>09/2020 – 08/2024</p>
            <p>Amman, Jordan</p>
          </div>
        </div>

        <div class="education-item">
          <div class="education-title">
            <h4>High School</h4>
            <p><em>Biariq Private School</em></p>
          </div>
          <div class="education-info">
            <p>2020</p>
            <p>Riyadh, Saudi Arabia</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
